<link rel="stylesheet" href="static/css/style.css">
body {
    color: F7F7F7;
  }
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-color: #292b2c;
    background-size: 100% 100%;
    text-align: center;
}